h2 {
    margin-top: 40px;
}

.form-container {
    text-align: center;
    width: 500px; 
    margin: auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form .wrapper {
    margin-bottom: 40px;
}

.react-datepicker-wrapper {
    width: 400px;
}

#actionSelect {
    background-color: #a3c9a5;
    text-align: center;
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

#description {
    width: 480px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

tr:nth-of-type(odd) {
    background-color: #eee;
    color: #333;
}

th {
    background-color: #333;
    color: #fff;
    font-weight: bold;
}

td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: center;
}