form {
    color: white;
}

form .wrapper {
    padding-right: 10px;
}

form input {
    width: 220px;
    background-color: aquamarine;
}

form .btn-wrapper {
    padding-top: 10px;
    text-align: center;
}

#btn-wrapper {
    color: #fff;
    background-color: green;
    width: 600px;
    height: 40px;
}